<div class="job-form-wrapper margin-25">
	<h3> Add a Job </h3>
	<%= form_with model: Job.new, id: 'new-boat-form', data: {"parsley-validate": ''} do |f| %>
		<div class="form-group">
			<%= f.text_field :title, required: true, placeholder: 'Job Title', class: 'form-control' %>
		</div>
		<div class="form-group">
			<%= f.text_area :description, required: true, minlength: 25, placeholder: 'Job Description', class: 'form-control' %>
		</div>
		<div class="form-group">
			<%= f.select :origin, ['Tatooine', 'Hoth', 'Coruscant', 'Naboo', 'Kamino'], {}, {class: 'form-control'} %>
		</div>
		<div class="form-group">
			<%= f.select :destination, ['Tatooine', 'Hoth', 'Coruscant', 'Naboo', 'Kamino'], {}, {class: 'form-control'} %>
		</div>
		<div class="form-group">
			<%= f.number_field :cost, required: true, min: 1000, placeholder: 'Cost', class: 'form-control' %>
		</div>
		<div class="form-group">
			<%= f.number_field :containers_needed, required: true, placeholder: 'Containers Required', class: 'form-control' %>
		</div>
			<%= f.submit class: 'btn btn-success' %>
	<% end %>
</div>