<h1>Jobs#index</h1>
<p>Find me in app/views/jobs/index.html.erb</p>
<% @jobs.each do |job| %>
	<p> <%= job.user.first_name %> </p>
	<p> <%= job.title %> </p>
	<p> <%= job.description %> </p>
	<p> <%= job.origin %> </p>
	<p> <%= job.destination %> </p>
	<p> <%= job.containers_needed %> </p>
	<%= link_to "Edit", edit_job_path(job) %>
	<%= link_to "Delete", job, method: :delete %>
<% end %>