<div class="container side-nav">
	<div class="row">
		<div class="col-sm-12 col-md-2">
			<div class="margin-25">
				<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
				  <a class="btn btn-outline-light side-nav-button active" id="v-pills-jobs-tab" data-toggle="pill" href="#v-pills-jobs" role="tab" aria-controls="v-pills-jobs" aria-selected="true">Jobs</a>
				  <a class="btn btn-outline-light side-nav-button" id="v-pills-boats-tab" data-toggle="pill" href="#v-pills-boats" role="tab" aria-controls="v-pills-boats" aria-selected="false">Boats</a>
				  <a class="btn btn-outline-light side-nav-button" id="v-pills-user-info-tab" data-toggle="pill" href="#v-pills-user-info" role="tab" aria-controls="v-pills-user-info" aria-selected="false">User</a>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="tab-content margin-25" id="v-pills-tabContent">
			  <div class="tab-pane fade show active" id="v-pills-jobs" role="tabpanel" aria-labelledby="v-pills-jobs-tab">
					<%= render 'job_form' %>
					<div class="jobs">
						<%= render @jobs %>
					</div>
			  </div>
			  <div class="tab-pane fade" id="v-pills-boats" role="tabpanel" aria-labelledby="v-pills-boats-tab">
					<%= render '/boats/boat_form' %>
			  	<div class="container">
						<div class="boats row justify-content-center">
							<%= render @boats %>
						</div>
					</div>
			  </div>
			  <div class="tab-pane fade" id="v-pills-user-info" role="tabpanel" aria-labelledby="v-pills-user-info-tab">
					<%= render 'users/user' %>
			  </div>
			</div>
		</div>
	</div>
</div>