<h1> <%= @user.first_name %> <%= @user.last_name %> </h1>
<p><strong>Email:</strong> <%= @user.email %> </p>
<p><strong>Company:</strong> <%= @user.company %> </p>
<%= link_to "Edit User", edit_user_registration_path, class: 'btn btn-success' %>